.caixa{
    background-color: #4b4c4d;
}

.titulo{
    color: #fff !important;
    font-weight: bold !important;
}

.botao{
    border-color: #fff !important;
    background-color: #39393a;
    color: #fff !important;
}

.postagens{
    background-color: #fff;
}

.text-decorator-none{
    text-decoration: none;
}