.caixa{
    background: linear-gradient(36deg, #1fa4f1e3 8%, #ff288c90 80%)!important;
}

.titulo{
    color: #fff !important;
    font-weight: bold !important;
}

.botao{
    border-color: #fff !important;
    background-color: #39393a;
    color: #fff !important;
}

.postagens{
    background-color: #fff;
}

.text-decorator-none{
    text-decoration: none;
}