.imagem2{
    background-image:url(https://images.unsplash.com/photo-1589998059171-988d887df646?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGJvb2t8ZW58MHx8MHx8&w=1000&q=80);
    background-repeat:no-repeat;
     width:100vh;
    min-height: 100vh;
    background-size:cover;
    background-position:center;
}
.textos2{
    font-weight: bold !important;
}
.btnCancelar{
    margin-right: 20px !important;
}
